@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --darkBlue: #202046;
  --greyishBlue: #babacf;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 32px;
}
/* font-weights: 300,500, 700 */

/* -----------------Starting the Project------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  width: 100%;
  /* padding: 30px; */
  background-image: url(./images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left bottom;
}

.slider {
  display: block;
  /* height: 100%; */
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  position: relative;
}
.slide {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.slide-image {
  width: 100%;
  background-image: url(images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.slide-image img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 40px;
}
.slide-text {
  width: 100%;
  margin-top: 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 80px;
}
.slide-text .testimonial-text {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1rem;
  color: var(--primary-color-darkBlue);
}
.slide-text .author-text {
  margin-top: 20px;
  font-size: 0.5rem;
  font-weight: 700;
  /* line-height: 1rem; */
  color: var(--primary-color-darkBlue);
}
.author-text span {
  color: var(--greyishBlue);
  font-weight: 500;
  display: block;
}
/* slider-buttons */
.next::after {
  background-image: url(images/icon-next.svg);
}
.prev::after {
  background-image: url(images/icon-prev.svg);
}
.next::after,
.prev::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.next,
.prev {
  display: inline-block;
  height: 100%;
  width: 50%;
  position: absolute;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.buttons {
  width: 15%;
  height: 45px;
  background: #fff;
  box-shadow: -7px 5px 15px #545b69;
  border-radius: 50px;
  position: absolute;
  top: 55%;
  overflow: hidden;
}
.prev:hover,
.next:hover {
  background: #f0f0f3;
}
.slide-2 {
  display: none;
}
@media (min-width: 768px) {
  .container {
    background-position: 0 bottom;
    background-size: 10%;
  }
  .slide {
    flex-direction: row;
    text-align: left;
  }
  .slide-text {
    background-position: 10% top;
    background-size: 100px;
    align-items: flex-start;
    margin-right: -120px;
    z-index: 1;
  }
  .slide-image img {
    width: 450px;
  }
  .buttons {
    width: 10%;
    height: 45px;
    top: 83%;
    left: calc(100% - 400px);
  }
  .author-text span {
    display: inline;
  }
}

@media (max-width: 770px) {
  /* .container {
    margin-bottom: 80px;
  } */
  .buttons {
    /* position: absolute; */
    top: 63%;
    left: 40%;
  }
}
@media (max-width: 720px) {
  .buttons {
    top: 58%;
  }
}
@media (max-width: 680px) {
  .buttons {
    top: 61%;
  }
}
@media (max-width: 580px) {
  .buttons {
    top: 53%;
  }
}
@media (max-width: 530px) {
  .buttons {
    top: 50%;
  }
}
@media (max-width: 450px) {
  .buttons {
    width: 15%;
    top: 42%;
  }
}
@media (max-width: 420px) {
  .buttons {
    width: 15%;
    top: 38%;
  }
}
@media (max-width: 375px) {
  .buttons {
    width: 20%;
    height: 45px;
    top: 32%;
  }
}
